body {
   background-color: white;
   color: black;

   font-size: small;
   font-family: monospace;

   text-align: left;
}
h1 {
   background-color: inherit;
   color: black;

   font-family: monospace;
   text-align: center;
}
h3 {
   background-color: inherit;
   color: black;

   font-family: monospace;
}
hr {}
ul {
   background-color: inherit;
   color: black;

   list-style-type: disc;
}
li {}
#notes #ingredients #procedure {
   border-color: black;
   border-width: thick;
}
div {
   background-color: inherit;
   color: black;
   text-align: left;
}
p {}