div {/*A section*/
   background-color: white;
   text-align: center;
}
h2 {/*Section header i.e. the big letter at the top*/
   background-color: #ffcf9e;
   text-align: center;
}
h3 {/*Category Header*/
   color: #000077;
   background-color: #d4d3d3;
   text-align: left;
}
ul {
   text-align: left;
   list-style-type: disc;
}
li{   
    text-align: left;
    margin-bottom: 5px;
    background-color: #e2e2ff;
    font-family: serif;
}
a {
   text-decoration: none;
    color: #383845;
}