<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<style>
   div.file {
      border-width: medium;
      border: solid black;
      position: relative;
      left: 200px;
      width: 80%;
      padding-left: 5px;
      padding-bottom: 5px;
   }
   ul#navbar {
      position: fixed;
      top: 10px;
      left: 10px;
   }
         
</style>
  <title>{{ page.title }}</title>
</head>
<body>
  <ul id="navbar">
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
      <li><a href="/blog.html">Blog Index</a></li>
      <li><a href="/">Home</a></li>
   </ul>
  <h1 align="center">{{ page.title }}</h1>
  <div class="file">
   {{ content }}
   </div>

</body>
</html>
